@import "../../styles/variables.scss";

.contact {
  padding: 10px 0px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;

  .social-links {
    margin-top: 30px;
    a {
      margin: 0 10px;
      color: $secondary-color;
      text-decoration: none;
      font-size: 22px;
      transition: color 0.3s ease;

      &:hover {
        color: $link-hover-color;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}
