@import "../../styles/variables.scss";

.projects {
  padding: 10px 0px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;

  h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: $light-text-color;
    text-align: left;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap; // Les cartes passent à la ligne si nécessaire
    justify-content: center; // Centre les cartes
    gap: 20px; // Espacement entre les cartes
  }

  .project-card {
    padding: 10px;
    width: calc(50% - 20px); // Deux cartes par ligne sur desktop
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1b1b1b;
    filter: grayscale(100%);
    transition: filter 0.9s ease 0s, background-color 0.9s ease 0s;
    border: 1px solid $border-color;

    &:hover {
      filter: grayscale(0%);
      background-color: $primary-color;
    }

    img {
      border-radius: 5px;
      margin: 0 auto;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    h3 {
      font-size: 24px;
      color: $text-color;
      text-align: center;
      margin: 0 auto;
      margin-top: 15px;
    }

    p {
      font-size: 16px;
      color: $light-text-color;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
    }

    .project-tech {
      margin-top: 10px;

      .tech-badge {
        background-color: $secondary-color;
        color: $text-color;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 5px;
        font-size: 12px;
        text-transform: uppercase;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;

    .project-card {
      width: 100%; // Une carte par ligne sur mobile
    }
  }
}
